a{
    color: gold;
    text-decoration: none;
}

ul {
    list-style: none;
    display: flex;
}

li {
    margin: 1em;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: brown;
    padding: 0 1em;
}

.logo {
    font-size: 30px;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5em;
}

.deskripsi {
    margin-left: 10em;
}

.deskripsi h1 {
    font-size: 30px;
}

.deskripsi p {
    font-size: 20px;
}

.gambar-profile {
    width: 40%;
}

.gambar-profile img {
    width: 70%;
}

.skill-desc {
    padding: 1em;
    font-size: 20px;
    text-align: center;
}

.skill-desc h1 {
    font-size: 30px;
}

.box-container {
    display: flex;
}

.box-1 h1,
.box-2 h2,
.box-3 h1 {
    font-size: 15px;
}

.box-1,
.box-2,
.box-3 {
    border: 1px solid black;
    border-radius: 5px;
    margin: 0.5cm;
    padding: 1em;
    text-align: center;
    background-color: blanchedalmond;
}

.goto-skill {
    background-color: rgb(231, 180, 159);
    color: aliceblue;
    border: none;
    padding: 0.5em 1em;
    border-radius: 3px;
}

footer {
    height: 150px;
    display: flex;
    opacity: 90%;
    flex-direction: column;
    align-items: center;
    position: relative;
    justify-content: center;
    background-color: darksalmon;
}

footer p {
    margin-top: 20px;
}

.social-icon a {
    margin: auto 1em;
}